*.js
!src/ecs/*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk/cdk.out

# ignore all __pycache__ directories
__pycache__/

src/ecs/flask_session/

**/venv/
**/.idea/
**/aws.xml
*.iml