body {
    /* background: linear-gradient(to top right, #8e44ad 0%, #f39c12 100%); */
    background: #192A56;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    animation: background 5s ease-in-out infinite alternate;
    color: #ffffff;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 16px;
    padding: 0 0 50px 0;
    margin: 0 auto;
    width: 100%;
    max-width: 960px;
    text-align: center;
}

button {
    background: #273C75;
    border: 1px solid #273C75;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 16px;
    margin: 0 5px;
    padding: 10px 20px;
    text-transform: uppercase;
}

input {
    background: #273C75;
    border: 1px solid #273C75;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 16px;
    margin: 5px 5px;
    padding: 10px 20px;
}

.btn-secondary {
    background: #273C75;
    border: none;
    opacity: 0.7;
}

.btn-secondary:hover {
    opacity: 1;
}

h1.text-light {
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .btn-lg {
        width: 100%;
    }
}