{% extends 'base.html' %}

{% block title %}
    Delivery
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-light">Delivery</h1>
            <div class="text-center mb-4">
                {% if not is_back_door_open %}
                    <button id="openDoor" type="submit" class="btn btn-success">Open Door</button>
                {% endif %}   
            </div>
            {% if is_back_door_open %}
                <div class="d-flex flex-wrap justify-content-center">
                    {% for order in order_data %}
                        <div class="card table-card m-2">
                            <h5></h5>
                            {% for item in order['items'] %}
                                <div class="card-body d-flex flex-column">
                                    <h5>Order ID:</h5>
                                    <h5 class="card-title">{{ order.id }}</h5>
                                    <h5>Item Name:</h5>
                                    <input data-item-name="{{ item.item_name }}" type="string" value="{{ item.item_name }}" class="form-control mb-2 item-name" placeholder="Item Name">
                                    <h5>Quantity:</h5>
                                    <input data-item-name="{{ item.item_name }}" type="number" value="{{ item.quantity }}" class="form-control mb-2 item-quantity" placeholder="Quantity">
                                    <h5>Expiry Date:</h5>
                                    <input data-item-name="{{ item.item_name }}" type="date" class="form-control mb-2 item-expiry-date" placeholder="Expiry Date">
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                <button id="completeOrderButton" type="button" class="btn btn-success">Complete Order</button>
            {% endif %}
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/delivery.js') }}"></script>
{% endblock %}
