{% extends 'base.html' %}

{% block title %}
    Delivery
{% endblock %}

{% block content %}
    <div class="add-item-form mb-4">
        <h2>Add New Item</h2>
        <form action="{{ url_for('add_item') }}" method="post">
            <input type="text" name="item_name" class="form-control mb-2" placeholder="Item name" required>
            <input type="number" name="quantity_change" class="form-control mb-2" placeholder="Quantity" required>
            <input type="date" name="expiry_date" class="form-control mb-2" placeholder="Expiry Date" required>
            <input type="number" name="desired_quantity" class="form-control mb-2" placeholder="Desired Quantity (Optional)">
            <button type="submit" class="btn btn-success">Add item</button>
        </form>
    </div>

    <div class="row">
        <div class="col-12">
            <h1 class="text-center text-light">Delivery</h1>
            <div id="deliveryItems" class="d-flex flex-wrap justify-content-center">
                {% for item in order_data %}
                <div class="card table-card m-2">
                    <div class="card-body">
                        <div class="item-info">
                            <h5 class="card-title">{{ item.name }}</h5>
                            Expirty date<input type="date" class="form-control expiry-date" placeholder="Expiry Date" disabled>
                            Quantity<input type="number" class="form-control quantity" placeholder="Quantity" disabled>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="text-center">
                <button class="btn btn-success" onclick="enableInputs()">Open door</button>
                <button class="btn btn-primary" onclick="completeOrder()">Complete Order</button>
            </div>
        </div>
    </div>

    <script>
        function enableInputs() {
            document.querySelectorAll('.expiry-date, .quantity').forEach(function(input) {
                input.disabled = false;
            });
            document.getElementById('openDoorButton').disabled = true;
        }

        function completeOrder() {
            const items = [];
            document.querySelectorAll('.table-card').forEach(function(card) {
                const name = card.querySelector('.card-title').innerText;
                const expiryDate = card.querySelector('.expiry-date').value;
                const quantity = card.querySelector('.quantity').value;
                items.push({ name, expiryDate, quantity });
            });
            console.log(items);

            fetch('/api/complete-order', {
                method: 'POST',
                body: JSON.stringify({ items: items }),
                headers: {
                    'Content-Type': 'application/json'
                    // probably need the token here too...
                }
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Something went wrong with the order completion process');
                }
            })
            .then(data => {
                console.log('Order completed:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
    </script>
{% endblock %}
