{% extends 'base.html' %}

{% block title %}
    Forgotten password
{% endblock %}

{% block content %}
    <div id="container">
        <div id="forgotPasswordRequest">
            <input type="text" id="username" placeholder="Username">
            <button id="submitResetPassword">Reset Password</button>
        </div>

        <div id="resetPassword" style="display: none;">
            <input id="code" placeholder="code"><br/>
            <p id="codeError" style="color: #e74c3c;"></p>
            <input id="newPassword" type="password" placeholder="New Password"><br/>
            <p id="passwordError" style="color: #e74c3c;"></p>
            <button id="submitNewPassword">Confirm New Password</button>
        </div>

        <script src="{{ url_for('static', filename='js/amazon-cognito-identity.min.js') }}"></script>
        <script type="module" src="{{ url_for('static', filename='js/forgot-password.js') }}"></script>
    </div>
{% endblock %}