{% extends 'navbar.html' %}

{% block title %}
    Health Report
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-light">Health Report</h1>
                <div class="report-filter mb-4 text-center">
                    <input type="date" class="form-control d-inline-block" id="dateAfter" style="width: auto;">
                    <input type="date" class="form-control d-inline-block" id="dateBefore" style="width: auto;">
                    <button class="btn btn-primary" onclick="fetchReport()">Check report</button>
                </div>
                <div id="reportItems" class="d-flex flex-wrap justify-content-center">
                    <!-- Items will be end up here -->
                </div>
                <br>
                <div class="d-flex flex-wrap justify-content-center">
                    <button class="btn btn-success" id="sendHealthReport" style="display:none;" onclick="sendHealthReport()">Send health report</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        function fetchReport() {
            const dateAfter = new Date(document.getElementById('dateAfter').value).getTime() / 1000;
            const dateBefore = new Date(document.getElementById('dateBefore').value).getTime() / 1000;

            if (dateAfter && dateBefore) {
                fetch(`/api/health-report/${dateAfter}/${dateBefore}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);
                        populateReport(data.items);
                        document.getElementById('sendHealthReport').style.display = 'block';
                    })
                    .catch(error => console.error('Error:', error));
            } else {
                alert('Please select both a start and end date.');
            }
        }

        function populateReport(items) {
            const itemsContainer = document.getElementById('reportItems');
            itemsContainer.innerHTML = '';
            items.forEach(item => {
                item.date_added = new Date(item.date_added * 1000).toLocaleDateString();
                item.expiry_date = new Date(item.expiry_date * 1000).toLocaleDateString();
                item.date_removed = item.date_removed ? new Date(item.date_removed * 1000).toLocaleDateString() : null;
                const cardHtml = `
                    <div class="card table-card m-2">
                        <div class="card-body">
                            <div class="item-info">
                                <h5 class="card-title">${item.name}</h5>
                                <p class="card-text">Date added: ${item.date_added}</p>
                                <p class="card-text">Expiry Date: ${item.expiry_date}</p>
                                <p class="card-text">Date removed: ${item.date_removed || 'N/A'}</p>
                            </div>
                        </div>
                    </div>
                `;
                itemsContainer.insertAdjacentHTML('beforeend', cardHtml);
            });
        }

        function sendHealthReport() {
            console.log('Sending health report...');
            // call to send report
        }
    </script>
{% endblock %}