{% extends 'navbar.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 text-center">
        <h1 class="text-light">Homepage</h1>
    </div>
</div>
<div class="row text-center mt-5">
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-block btn-lg">Orders</button>
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-block btn-lg">Inventory</button>
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-block btn-lg">Health Report</button>
    </div>
    <div class="col-md-4 mb-3">
        <button class="btn btn-secondary btn-block btn-lg">Manage Users</button>
    </div>
</div>
{% endblock %}
