{% extends 'navbar.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="text-light">Homepage</h1>
        </div>
    </div>
    <div class="row text-center mt-5">
        {% if user_role == 'admin' or user_role == 'headchef' or user_role == 'chef' %}
            <div class="col-md-4 mb-3">
                <a href="{{ url_for('inventory') }}" class="btn btn-secondary btn-block btn-lg">Inventory</a>
            </div>
        {% endif %}
        {% if user_role == 'admin' or user_role == 'headchef' %}
            <div class="col-md-4 mb-3">
                <a href="{{ url_for('orders') }}" class="btn btn-secondary btn-block btn-lg">Orders</a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ url_for('health_report') }}" class="btn btn-secondary btn-block btn-lg">Health Report</a>
            </div>
        {% endif %}
        {% if user_role == 'admin' %}
            <div class="col-md-4 mb-3">
                <a href="{{ url_for('admin_settings') }}" class="btn btn-secondary btn-block btn-lg">Admin Settings</a>
            </div>
            <div class="col-md-4 mb-3">
                <a href="{{ url_for('manage_users') }}" class="btn btn-secondary btn-block btn-lg">Manage Users</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
