{% extends 'navbar.html' %}

{% block title %}
    Orders
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-light">Orders</h1>
                <div class="order-selection mb-3">
                    <select class="form-control" id="orderSelect" onchange="updateOrderItems()">
                        {% for order in orders %}
                        <option value="{{ order.id }}">{{ order.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="orderItems" class="d-flex flex-wrap justify-content-center">
                    <!-- Order items end up here -->
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateOrderItems() {
            var selectedOrderId = document.getElementById('orderSelect').value;
            fetch(`/api/order-items/${selectedOrderId}`)
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    populateOrders(data.items);
                })
                .catch(error => console.error('Error:', error));
        }

        function populateOrders(orders) {
            var itemsContainer = document.getElementById('orderItems');
            itemsContainer.innerHTML = '';
            orders.forEach(item => {
                var cardHtml = `
                    <div class="card table-card m-2">
                        <div class="card-body">
                            <div class="item-info">
                                <h5 class="card-title">${item.name}</h5>
                                <p class="card-text">Quantity: ${item.quantity}</p>
                                <p class="card-text">Date ordered: ${item.date_ordered}</p>
                            </div>
                        </div>
                    </div>
                `;
                itemsContainer.insertAdjacentHTML('beforeend', cardHtml);
            });
        }

        document.addEventListener('DOMContentLoaded', updateOrderItems);
    </script>
{% endblock %}
