{% extends 'navbar.html' %}

{% block title %}
Users
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center text-light">Users</h1>
                <div class="d-flex flex-wrap justify-content-center">
                    {% for user in users %}
                    <div class="card table-card m-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ user.email }}</h6>
                            <p class="card-text">{{ user.role }}</p>
                            <a href="#" class="card-link btn btn-info">Edit</a>
                            <a href="#" class="card-link btn btn-danger">Remove</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <div class="add-user-form mt-4">
                    <h2>Add new user</h2>
                    <input type="text" class="form-control" placeholder="New user's name">
                    <input type="email" class="form-control" placeholder="Email">
                    <select class="form-control">
                        <option>Job role</option>
                        <option>Admin</option>
                        <option>Head Chef</option>
                        <option>Chef</option>
                    </select>
                    <button class="btn btn-success">Send email to new user</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}