{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div id="container">
        <h1>Verification Code 👌</h1>
        <form onsubmit="return false">
            <input type="text" id="usernameVerify" placeholder="Username"><br>
            <input type="text" id="codeVerify" placeholder="Code"><br>
            <input type="submit" id="verify" value="Verify"><br>
        </form>
        <br>
        <h3>Already have an account?</h3>
        <button type="button" id="loginButton">Login</button>
    </div>

    <script src="{{ url_for('static', filename='js/amazon-cognito-identity.min.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/verify.js') }}"></script>
    <script>
        document.getElementById("loginButton").addEventListener("click", function () {
            console.log("login")
            window.location.href = "/";
        });
    </script>
{% endblock %}